	<html>

	<head>
		<title>title</title>
	</head>

	<body>
		<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="changePasswordLongModal">Changer le mot de passe</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
			<form id="changePassword" th:object="${passwordForm}" method="post" class="form" role="form">
				<input class="form-control" type="hidden" th:field="${passwordForm.id}">
				<input th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"  type="hidden" id="currentPassword" value="blank"  />

				<div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"  class="form-group row">
					<label class="col-lg-4 col-form-label 	form-control-label">Mot de passe actuel</label>
					<div class="col-lg-7">
						<input class="form-control" type="password" th:field="${passwordForm.currentPassword}">
						<div class="alert-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">Mot de passe</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 col-form-label 	form-control-label">Nouveau mot de passe</label>
					<div class="col-lg-7">
						<input class="form-control" type="password" th:field="${passwordForm.newPassword}">
						<div class="alert-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Mot de passe</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 col-form-label form-control-label">Confirmation de mot de passe</label>
					<div class="col-lg-7">
						<input class="form-control" type="password" th:field="${passwordForm.confirmPassword}">
						<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirmation Mot de passe</div>
					</div>
				</div>
				<div class="col-lg-13">
					<div class="alert alert-danger d-none text-center" id="changePasswordError">Erreur de changement de mot de passe</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			<button type="button" onClick="submitChangePassword()" class="btn btn-primary">Enregistrer les modifications</button>
		</div>
		</div>
	</div>
	</div>
	<script type="text/javascript">
	function submitChangePassword(){
		var params = {};
		params["id"] = $("#id").val();
		params["currentPassword"] = $("#currentPassword").val();
		params["newPassword"] = $("#newPassword").val();
		params["confirmPassword"] = $("#confirmPassword").val();
		
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/editUser/changePassword",
			data: JSON.stringify(params),
			dataType: 'text',
			cache: false,
			timeout: 600000,
			success: function (data) {
				$("#changePassword")[0].reset();
				
				$("#changePasswordError").addClass( "d-none" );
				$("#formSuccess").removeClass( "d-none" );
				$("#formSuccess").html("Mot de passe mis à jour avec succés!.");

				$('#changePasswordModal').modal('toggle');
				setTimeout(function(){	$("#formSuccess").hide('slow'); }, 2000);
			},
			error: function (e) {
				$("#changePasswordError").removeClass( "d-none" );
				$("#formSuccess").addClass( "d-none" );
				$("#changePasswordError").html(e.responseText);
			}
		});
	}
	</script>
	</body>

	</html>