<html>

	<head>
		<title>Confirmation de suppression</title>
	</head>

	<body>
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Confirmation de suppression</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				Êtes-vous sûr de vouloir supprimer cet utilisateur?
				<input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput"/>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" th:onclick="deleteUser()">Supprimer utilisateur</button>
			</div>
			</div>
		</div>
		</div>
	</body>
</html>