	<form class="form table-responsive" role="form" autocomplete="off" 
		th:object="${userForm}" th:action="${editMode} ?@{/editUser}: @{/userForm}" method="post">
	<input class= "form-control" type="hidden" th:field="${userForm.id}" th:if="${editMode}">
	<input class= "form-control" type="hidden" th:field="${userForm.confirmPassword}" th:value="xxxx" th:if="${editMode}">

		<div class="form-group row">
			<label class="col-lg-4 col-form-label form-control-label">Prenom</label>
			<div class="col-lg-6">
				<input class="form-control" type="text"
					th:field="${userForm.firstName}">
				<div class="alert-danger" th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label form-control-label">Nom</label>
			<div class="col-lg-6">
				<input class="form-control" type="text"
					th:field="${userForm.lastName}">
				<div class="alert-danger" th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label form-control-label">Email</label>
			<div class="col-lg-6">
				<input class="form-control" type="email" th:field="${userForm.email}">
				<div class="alert-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-4 col-form-label form-control-label">Pseudo</label>
			<div class="col-lg-6">
				<input class="form-control" type="text"
					th:field="${userForm.username}">
				<div class="alert-danger" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}">Name Error</div>
			</div>
			<div class="form-group row">
				<label th:text="  Roles"
					class="col-lg-8 col-form-label form-control-label" ></label>
				<div class="col-lg-12">
					<select class="form-control" size="3" th:field="${userForm.roles}">
						<option th:each="roles :${roles}" th:value="${roles.id}"
							th:text="${roles.name}"></option>
					</select>
					<div class="alert-danger" th:if="${#fields.hasErrors('roles')}"
						th:errors="*{roles}">Name Error</div>
				</div>
			</div>
		</div>
		<div class="form-group row" th:if="${editMode ==null or editMode==null or editMode==false}">
			<label class="col-lg-6 col-form-label form-control-label">Mot de pass</label>
			<div class="col-lg-4">
				<input class="form-control" type="password"
					th:field="${userForm.password}">
				<div class="alert-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">Name Error</div>
			</div>
		</div>
		<div class="form-group row" th:if="${editMode ==null or editMode==null or editMode==false}">
			<label class="col-lg-6 col-form-label form-control-label">Confirmation</label>
			<div class="col-lg-4">
				<input class="form-control" type="password"
					th:field="${userForm.confirmPassword}">
				<div class="alert-danger"
					th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-10 text-center">
				<a class="btn btn-secondary" th:href="@{'/userForm/cancel'}">Annuler</a>
				<input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editMode}?'Save User' : 'Ajouter un utilisateur'">
			</div>
		</div>
		<div class="alert alert-danger text-center" th:if="${formErrorMessage}"
			th:text="${formErrorMessage}">Error Message</div>
	</form>