body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}


.btn.btn-primary {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0px 10px 5px 10px aqua 0px 10px 5px 10px black;
    border-radius: 10px;
}

.btn.btn-primary:hover {
    border-bottom-color: transparent;
    transition: 0.5s ease;
    color: mediumaquamarine;
    background-color: blue;
}


#user-group.form-group:hover, #contrasena-group.form-group:hover {
    border-bottom-color: transparent;
    transition: 0.2s ease;
    color: mediumaquamarine;
    
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #ff903b;
    opacity: .85;
    padding: 0 20px;
    box-shadow:  0px 0px 3px #848484 inset 3px 5px 10px #ffd5b5;
    border: 2px black;
    border-radius: 20px;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 60%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 10px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}
#footer{
   text-align: center; 
   font-size: 18px;
}
.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

button{
    width: 60%;
    margin: 5px 0 25px;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}


