body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin-left:10%;
    margin-top:5%;
   
}
font{
   scrollbar-base-color: blue;
}
.card{
    opacity: .80;
  
     border: 5px solid #000000;
     border-radius:20px;
     background-color: black;
}

.card-header{
    background-color: black;
    border: 5px #c9c9c9;

}

label{
    font-weight: bold;
     
}

.nav-tabs .nav-item a:not(.active){
    background-color: #d1d3d6;
    
}

.nav-tabs{
	border-bottom:10px;
}
#roles{
    margin-left: 20px;
}
.form-control{
   
    padding: 30px;
}
.table-responsive{
 
 background-color:  #bacccc;
}
.form{
    background-color: #bacccc;
    padding: 30px;
   
}
#roles{
    cursor: pointer;
}


.btn.btn-primary {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0px 10px 5px 10px aqua 0px 10px 5px 10px black;
    border-radius: 10px;
}

.btn.btn-primary:hover {
    border-bottom-color: transparent;
    transition: 0.5s ease;
    color: mediumaquamarine;
    background-color: blue;
}



.btn.btn-secondary {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0px 10px 5px 10px aqua 0px 10px 5px 10px black;
    border-radius: 10px;
}

.btn.btn-secondary:hover {
    border-bottom-color: transparent;
    transition: 0.5s ease;
    color: mediumaquamarine;
    background-color: #c9c9c9;
}

.color-fondo{
    background-color: orange;
    border: 5px orange;
    border-radius:0px 0px 30px 30px
}




